# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [ ]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [2]:
# Load dataset
comp = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9', \
                             usecols=['Agency','Agency Name','Borough','Complaint Type','Community Board','Resolution Description','Incident Zip','Location','Status','Unique Key'])

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [3]:
comp.columns = [c.replace(' ', '_') for c in comp.columns]
comp.count()

Unique_Key                10187766
Agency                    10187766
Agency_Name               10187766
Complaint_Type            10187766
Incident_Zip               9393607
Status                    10187766
Resolution_Description     6401015
Community_Board           10187766
Borough                   10187766
Location                   9309014
dtype: int64

In [4]:
# Check if all Boroughs and Community Districts are represented in the Data 
# there are 5 Boroughs & 59 Community Districts
print('Unique Boroughs Count: ', len(comp.Borough.unique()))
print('Unique Boroughs list: ', comp.Borough.unique())

print('Unique Community District Count: ', len(comp.Community_Board.unique()))
print('Unique Community District List: ', comp.Community_Board.unique())

('Unique Boroughs Count: ', 6)
('Unique Boroughs list: ', array(['BROOKLYN', 'Unspecified', 'STATEN ISLAND', 'MANHATTAN', 'BRONX',
       'QUEENS'], dtype=object))
('Unique Community District Count: ', 77)
('Unique Community District List: ', array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object))

In [5]:
# How many unique values do we have? 
comp.Community_Board.nunique()

77

In [6]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.

### By identify the UNSPECIFIED Community Districts, we are left with 71 Community Districts, but there are 12 which have the value beginning above 18, which are invalid.  This puts our Community District count at 59

In [7]:
# Check for duplicates? Are these plausible?
print(len(comp[comp.duplicated(['Unique_Key'])]))
comp[comp.duplicated(['Unique_Key'])]

22

,Unique_Key,Agency,Agency_Name,Complaint_Type,Incident_Zip,Status,Resolution_Description,Community_Board,Borough,Location
4248298,26003579,DOHMH,Department of Health and Mental Hygiene,Rodent,10302,Assigned,The Department of Health and Mental Hygiene wi...,01 STATEN ISLAND,STATEN ISLAND,"(40.63683487948972, -74.13879629882382)"
4253082,26020434,DOHMH,Department of Health and Mental Hygiene,Rodent,10462,Pending,The Department of Health and Mental Hygiene wi...,11 BRONX,BRONX,"(40.8488451919449, -73.86363125763393)"
4253086,26012011,DOHMH,Department of Health and Mental Hygiene,Rodent,11225,Pending,NaN,09 BROOKLYN,BROOKLYN,"(40.66414769632634, -73.94548172836168)"
4253091,26002968,DOHMH,Department of Health and Mental Hygiene,Rodent,11237,Pending,The Department of Health and Mental Hygiene wi...,04 BROOKLYN,BROOKLYN,"(40.705702500630075, -73.92017516512333)"
4253092,26020332,DOHMH,Department of Health and Mental Hygiene,Rodent,11213,Closed,NaN,08 BROOKLYN,BROOKLYN,"(40.67502312706964, -73.94681393618372)"
4253095,26033513,DOHMH,Department of Health and Mental Hygiene,Rodent,10302,Assigned,NaN,01 STATEN ISLAND,STATEN ISLAND,"(40.63635131789832, -74.12980576711388)"
4253097,26011524,DOHMH,Department of Health and Mental Hygiene,Rodent,10031,Closed,The Department of Health and Mental Hygiene wi...,09 MANHATTAN,MANHATTAN,"(40.817859804380014, -73.95300779968848)"
4253098,26011777,DOHMH,Department of Health and Mental Hygiene,Rodent,11221,Pending,NaN,03 BROOKLYN,BROOKLYN,"(40.6912192567118, -73.93967921077531)"
4253100,26011611,DOHMH,Department of Health and Mental Hygiene,Rodent,10467,Pending,The Department of Health and Mental Hygiene wi...,11 BRONX,BRONX,"(40.85995256353461, -73.86558595844559)"
4253101,26028900,DOHMH,Department of Health and Mental Hygiene,Rodent,10302,Pending,NaN,01 STATEN ISLAND,STATEN ISLAND,"(40.63690412970023, -74.12881960785445)"
4253103,26011682,DOHMH,Department of Health and Mental Hygiene,Rodent,11237,Pending,The Department of Health and Mental Hygiene wi...,04 BROOKLYN,BROOKLYN,"(40.705084740960004, -73.9160534139846)"
4253104,26028912,DOHMH,Department of Health and Mental Hygiene,Unsanitary Animal Pvt Property,10302,Assigned,NaN,01 STATEN ISLAND,STATEN ISLAND,"(40.63693433443217, -74.12880885701975)"
4253106,26033604,DOHMH,Department of Health and Mental Hygiene,Rodent,11225,Pending,NaN,09 BROOKLYN,BROOKLYN,"(40.66366463760264, -73.94552898151792)"
4257847,26050731,DOHMH,Department of Health and Mental Hygiene,Rodent,11237,Closed,NaN,04 BROOKLYN,BROOKLYN,"(40.70542895549614, -73.92566496179228)"
4257850,26048748,DOHMH,Department of Health and Mental Hygiene,Rodent,11210,Pending,NaN,14 BROOKLYN,BROOKLYN,"(40.613212457611496, -73.95107004320182)"
4257854,26044811,DOHMH,Department of Health and Mental Hygiene,Rodent,11201,Closed,The Department of Health and Mental Hygiene wi...,02 BROOKLYN,BROOKLYN,"(40.692997199564864, -73.99867657112512)"
4257859,26045795,DOHMH,Department of Health and Mental Hygiene,Rodent,11207,Pending,NaN,04 BROOKLYN,BROOKLYN,"(40.683061832920096, -73.90681490555575)"
4257860,26047763,DOHMH,Department of Health and Mental Hygiene,Rodent,10011,Closed,The Department of Health and Mental Hygiene wi...,04 MANHATTAN,MANHATTAN,"(40.74647604427205, -74.00337799399065)"
4257862,26049793,DOHMH,Department of Health and Mental Hygiene,Rodent,11233,Closed,NaN,16 BROOKLYN,BROOKLYN,"(40.67245754368937, -73.91591783719936)"
4257863,26048661,DOHMH,Department of Health and Mental Hygiene,Rodent,11230,Closed,The Department of Health and Mental Hygiene wi...,14 BROOKLYN,BROOKLYN,"(40.61889284968798, -73.96208101005551)"
4257866,26044898,DOHMH,Department of Health and Mental Hygiene,Rodent,10302,Pending,The Department of Health and Mental Hygiene wi...,01 STATEN ISLAND,STATEN ISLAND,"(40.63436841871342, -74.144581045052)"
4257868,26050656,DOHMH,Department of Health and Mental Hygiene,Unsanitary Animal Pvt Property,11225,Assigned,NaN,09 BROOKLYN,BROOKLYN,"(40.66406969404813, -73.9431100244629)"

### There are 22 duplicate records.  Given the small number of duplicate records vs the large dataset, we could drop these records

In [8]:
# What about missing values? Can you detect any patterns? 
null_data = comp[comp.isnull().any(axis=1)]
print(len(null_data))
null_data.head()

4159370

,Unique_Key,Agency,Agency_Name,Complaint_Type,Incident_Zip,Status,Resolution_Description,Community_Board,Borough,Location
0,31911011,DOT,Department of Transportation,Street Condition,11224,Open,NaN,13 BROOKLYN,BROOKLYN,"(40.57343122248129, -73.99174247588253)"
1,31908754,CHALL,CHALL,Opinion for the Mayor,NaN,Email Sent,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,NaN
4,31913310,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,NaN,Closed,The Human Resources Administration received yo...,0 Unspecified,Unspecified,NaN
6,31912764,DPR,DPR,Agency Issues,NaN,Email Sent,Your comments have been submitted to the Depar...,0 Unspecified,Unspecified,NaN
26,31910446,DOT,Department of Transportation,Traffic Signal Condition,11385,Open,NaN,05 QUEENS,QUEENS,"(40.7004993066336, -73.90020149091094)"

In [9]:
null_data.count()

Unique_Key                4159370
Agency                    4159370
Agency_Name               4159370
Complaint_Type            4159370
Incident_Zip              3365211
Status                    4159370
Resolution_Description     372619
Community_Board           4159370
Borough                   4159370
Location                  3280618
dtype: int64

In [10]:
# Data Editing: Is it possible to replace missing values? Is it possible to use Complaint Type 
# to fill missings in Resolution Descriptor?

In [11]:
# Generate marker for unplausible Community Districts
# How do these districts look like?

In [24]:
# Drop the marked districts
# Not necessary to use a marker.  We can filter the columns 
comp = comp[comp.Borough.str.contains("Unspecified") == False]
comp = comp_filter[comp_filter.Community_Board.str.contains("Unspecified") == False]
print(len(comp))

8123134

In [39]:
# This will filter out invalid Community Board values (i.e any number above 18)
comp = comp.loc[comp.Community_Board.str[0:3].convert_objects(convert_numeric=True) < 19]
print(len(comp))

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

8110945

In [183]:
print('Unique Boroughs Count: ', len(comp.Borough.unique()))
print('Unique Boroughs list: ', comp.Borough.unique())

print('Unique Community Board Count: ', len(comp.Community_Board.unique()))
print('Unique Community Board List: ', comp.Community_Board.unique())

('Unique Boroughs Count: ', 5)
('Unique Boroughs list: ', array(['BROOKLYN', 'STATEN ISLAND', 'MANHATTAN', 'BRONX', 'QUEENS'], dtype=object))
('Unique Community Board Count: ', 59)
('Unique Community Board List: ', array(['13 BROOKLYN', '18 BROOKLYN', '12 BROOKLYN', '02 STATEN ISLAND',
       '08 MANHATTAN', '06 BROOKLYN', '10 BRONX', '06 MANHATTAN',
       '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN', '14 BROOKLYN',
       '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS', '07 QUEENS',
       '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN', '09 QUEENS',
       '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN', '03 BRONX',
       '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN', '07 MANHATTAN',
       '10 MANHATTAN', '04 BRONX', '01 MANHATTAN', '07 BRONX', '09 BRONX',
       '03 MANHATTAN', '13 QUEENS', '02 BRONX', '12 QUEENS', '16 BROOKLYN',
       '08 QUEENS', '04 MANHATTAN', '14 QUEENS', '10 BROOKLYN',
       '11 QUEENS', '06 BRONX', '08 BRONX', '05 BRONX', '15 BROOKLYN',
       '02 BROOKLYN', '12 BRONX', '03 QUEENS', '06 QUEENS',
       '01 STATEN ISLAND', '01 BRONX', '01 QUEENS', '17 BROOKLYN',
       '11 BRONX', '09 BROOKLYN', '07 BROOKLYN'], dtype=object))

### The above shows we now have the correct number of Boroughs and Community Districts

In [184]:
# Produce your result: Generate an indicator which ranks the Community District by complaint numbers 
# on the Community district level
comp['Community_District'] = comp.Community_Board
comp.Community_District.value_counts()

12 MANHATTAN        268053
12 QUEENS           229383
03 BROOKLYN         197306
07 QUEENS           195961
17 BROOKLYN         191720
05 BROOKLYN         189765
14 BROOKLYN         187794
07 BRONX            185729
01 BROOKLYN         185057
01 STATEN ISLAND    182713
04 BRONX            181953
01 QUEENS           171484
05 QUEENS           168570
12 BRONX            168455
13 QUEENS           163851
05 BRONX            161078
18 BROOKLYN         156100
07 MANHATTAN        151419
09 QUEENS           151242
12 BROOKLYN         150320
03 MANHATTAN        150296
08 MANHATTAN        149076
09 BRONX            147457
15 BROOKLYN         146129
05 MANHATTAN        142028
08 BROOKLYN         141119
11 BROOKLYN         139890
04 BROOKLYN         139706
10 MANHATTAN        137344
03 STATEN ISLAND    136487
09 BROOKLYN         135833
02 MANHATTAN        133860
04 MANHATTAN        132660
10 QUEENS           128116
09 MANHATTAN        127565
08 QUEENS           123131
11 BRONX            122081
03 QUEENS           122009
02 STATEN ISLAND    121132
02 BROOKLYN         121022
02 QUEENS           114333
06 BROOKLYN         114029
10 BROOKLYN         111837
07 BROOKLYN         107031
06 MANHATTAN        104249
14 QUEENS           103396
11 QUEENS           101908
06 BRONX             99547
04 QUEENS            99316
10 BRONX             95496
11 MANHATTAN         95413
08 BRONX             92733
06 QUEENS            90938
16 BROOKLYN          85467
01 MANHATTAN         77974
03 BRONX             75134
01 BRONX             74631
13 BROOKLYN          72362
02 BRONX             60257
Name: Community_District, dtype: int64

In [258]:
# Safe reduced data frame (Community District level)
comp_CB = comp.groupby('Community_District', as_index=False).count()
comp_CB['complaint_count'] = comp_CB['Unique_Key']
comp_CB = comp_CB[['Community_District','complaint_count']]
print(comp_CB.head())
comp_CB.describe()

  Community_District  complaint_count
0           01 BRONX            74631
1        01 BROOKLYN           185057
2       01 MANHATTAN            77974
3          01 QUEENS           171484
4   01 STATEN ISLAND           182713

       complaint_count
count        59.000000
mean     137473.644068
std       41020.697391
min       60257.000000
25%      105640.000000
50%      136487.000000
75%      162464.500000
max      268053.000000

### The below shows the Community District with the highest number of complaints

In [257]:
comp_CB.sort_values('complaint_count', ascending=False)

   Community_District  complaint_count
49       12 MANHATTAN           268053
50          12 QUEENS           229383
11        03 BROOKLYN           197306
30          07 QUEENS           195961
57        17 BROOKLYN           191720
20        05 BROOKLYN           189765
53        14 BROOKLYN           187794
27           07 BRONX           185729
1         01 BROOKLYN           185057
4    01 STATEN ISLAND           182713
15           04 BRONX           181953
3           01 QUEENS           171484
22          05 QUEENS           168570
47           12 BRONX           168455
52          13 QUEENS           163851
19           05 BRONX           161078
58        18 BROOKLYN           156100
29       07 MANHATTAN           151419
38          09 QUEENS           151242
48        12 BROOKLYN           150320
12       03 MANHATTAN           150296
33       08 MANHATTAN           149076
35           09 BRONX           147457
55        15 BROOKLYN           146129
21       05 MANHATTAN           142028
32        08 BROOKLYN           141119
44        11 BROOKLYN           139890
16        04 BROOKLYN           139706
41       10 MANHATTAN           137344
14   03 STATEN ISLAND           136487
36        09 BROOKLYN           135833
7        02 MANHATTAN           133860
17       04 MANHATTAN           132660
42          10 QUEENS           128116
37       09 MANHATTAN           127565
34          08 QUEENS           123131
43           11 BRONX           122081
13          03 QUEENS           122009
9    02 STATEN ISLAND           121132
6         02 BROOKLYN           121022
8           02 QUEENS           114333
24        06 BROOKLYN           114029
40        10 BROOKLYN           111837
28        07 BROOKLYN           107031
25       06 MANHATTAN           104249
54          14 QUEENS           103396
46          11 QUEENS           101908
23           06 BRONX            99547
18          04 QUEENS            99316
39           10 BRONX            95496
45       11 MANHATTAN            95413
31           08 BRONX            92733
26          06 QUEENS            90938
56        16 BROOKLYN            85467
2        01 MANHATTAN            77974
10           03 BRONX            75134
0            01 BRONX            74631
51        13 BROOKLYN            72362
5            02 BRONX            60257

In [186]:
comp_CB.count()

Community_District    59
complaint_count       59
dtype: int64

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [259]:
# Demographic data
demo = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv' \
                  )
demo.head()
# I don't have time to parse through this file.  Will use the file from the CUSP datahub

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [219]:
demo.columns

Index([u'FIPS', u'cd_id', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [180]:
# Population by Community District
pop = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/xi7c-iiu2/1414245891/xi7c-iiu2')
pop.head()

,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population
0,Bronx,1,"Melrose, Mott Haven, Port Morris",138557,78441,77214,82159,91497
1,Bronx,2,"Hunts Point, Longwood",99493,34399,39443,46824,52246
2,Bronx,3,"Morrisania, Crotona Park East",150636,53635,57162,68574,79762
3,Bronx,4,"Highbridge, Concourse Village",144207,114312,119962,139563,146441
4,Bronx,5,"University Hts., Fordham, Mt. Hope",121807,107995,118435,128313,128200

In [188]:
pop.columns

Index([u'Borough', u'CD Number', u'CD Name', u'1970 Population',
       u'1980 Population', u'1990 Population', u'2000 Population',
       u'2010 Population'],
      dtype='object')

### Need to generate the Community District column before we can count them.
### The below code generates the Community District column so it will match the other datasets

In [214]:
pop['Community_Board'] = np.where(pop['CD Number'] < 10, str(0) + pop['CD Number'].apply(str) + ' ' + pop.Borough, \
                                  pop['CD Number'].apply(str) + ' ' + pop.Borough)
# statement checks if Borough is Staten Island and includes the 2nd word "Island" 

pop.Community_Board.unique()

array(['01 Bronx', '02 Bronx', '03 Bronx', '04 Bronx', '05 Bronx',
       '06 Bronx', '07 Bronx', '08 Bronx', '09 Bronx', '10 Bronx',
       '11 Bronx', '12 Bronx', '01 Brooklyn', '02 Brooklyn', '03 Brooklyn',
       '04 Brooklyn', '05 Brooklyn', '06 Brooklyn', '07 Brooklyn',
       '08 Brooklyn', '09 Brooklyn', '10 Brooklyn', '11 Brooklyn',
       '12 Brooklyn', '13 Brooklyn', '14 Brooklyn', '15 Brooklyn',
       '16 Brooklyn', '17 Brooklyn', '18 Brooklyn', '01 Manhattan',
       '02 Manhattan', '03 Manhattan', '04 Manhattan', '05 Manhattan',
       '06 Manhattan', '07 Manhattan', '08 Manhattan', '09 Manhattan',
       '10 Manhattan', '11 Manhattan', '12 Manhattan', '01 Queens',
       '02 Queens', '03 Queens', '04 Queens', '05 Queens', '06 Queens',
       '07 Queens', '08 Queens', '09 Queens', '10 Queens', '11 Queens',
       '12 Queens', '13 Queens', '14 Queens', '01 Staten Island',
       '02 Staten Island', '03 Staten Island'], dtype=object)

In [243]:
# How many community districts are in file? 
len(pop.Community_Board.unique())

59

### There are 59 Community Districts in the file

In [246]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311
pop['Community_District'] = pop['Community_Board']
pop.columns

Index([u'Borough', u'CD Number', u'CD Name', u'1970 Population',
       u'1980 Population', u'1990 Population', u'2000 Population',
       u'2010 Population', u'Community_Board', u'Community_District'],
      dtype='object')

In [221]:
# Save data frame

In [173]:
# Infrastructure by Community District
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")
df_pop.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [174]:
# Check variables in file
df_pop.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [175]:
# How many community districts are in file? 
len(df_pop['Qualifying Name'].unique())

55

### Before we can do the below, we need to get the Community District column in shape
### The following code snippet does just that

In [182]:
df_pop['temp_borough'] = df_pop['Qualifying Name'].str.split().str.get(0)

# print(df_pop.temp_borough.str.find('-')+1)
# the above line indicates the index of the '-' char is at 3.  
# Adding 1 gives us the correct value from which to start the substring for the borough

df_pop['borough'] = np.where(df_pop.temp_borough.str.contains('Staten'), df_pop.temp_borough.str[4:] \
                             + ' ' + df_pop['Qualifying Name'].str.split().str.get(1), df_pop.temp_borough.str[4:])
# statement checks if Borough is Staten Island and includes the 2nd word "Island" 

print(df_pop.borough.unique())

df_pop['temp_boroughnum'] = np.where(df_pop.borough == 'Staten Island', \
                                     df_pop['Qualifying Name'].str.split().str.get(4) \
                                     , df_pop['Qualifying Name'].str.split().str.get(3))

df_pop['boroughnum'] = np.where(df_pop.temp_boroughnum.str.find('-') > 0, \
                                      np.where(df_pop.temp_boroughnum.str[1:2] == '-', \
                                               '0' + df_pop.temp_boroughnum.str[:1], \
                                              df_pop.temp_boroughnum.str[:2]) \
                                     , '0' + df_pop.temp_boroughnum)
print(df_pop.boroughnum.unique())

df_pop['Community_District'] = df_pop.boroughnum + ' ' + df_pop.borough
print(df_pop.Community_District)

['Bronx' 'Manhattan' 'Staten Island' 'Brooklyn' 'Queens']
['08' '12' '10' '11' '03' '07' '05' '04' '09' '01' '06' '02' '16' '18' '17'
 '14' '15' '13']
0             08 Bronx
1             12 Bronx
2             10 Bronx
3             11 Bronx
4             03 Bronx
5             03 Bronx
6             07 Bronx
7             05 Bronx
8             04 Bronx
9             09 Bronx
10            01 Bronx
11            01 Bronx
12        12 Manhattan
13        09 Manhattan
14        10 Manhattan
15        11 Manhattan
16        08 Manhattan
17        07 Manhattan
18        04 Manhattan
19        04 Manhattan
20        06 Manhattan
21        03 Manhattan
22        01 Manhattan
23        01 Manhattan
24    03 Staten Island
25    02 Staten Island
26    01 Staten Island
27         01 Brooklyn
28         04 Brooklyn
29         03 Brooklyn
30         02 Brooklyn
31         06 Brooklyn
32         08 Brooklyn
33         16 Brooklyn
34         05 Brooklyn
35         18 Brooklyn
36         17 Brooklyn
37         09 Brooklyn
38         07 Brooklyn
39         10 Brooklyn
40         12 Brooklyn
41         14 Brooklyn
42         15 Brooklyn
43         11 Brooklyn
44         13 Brooklyn
45           01 Queens
46           03 Queens
47           07 Queens
48           11 Queens
49           13 Queens
50           08 Queens
51           04 Queens
52           06 Queens
53           02 Queens
54           05 Queens
55           09 Queens
56           12 Queens
57           10 Queens
58           14 Queens
Name: Community_District, dtype: object

In [222]:
df_pop.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer', u'temp_borough', u'borough',
       u'temp_boroughnum', u'boroughnum', u'Community_District'],
      dtype='object')

In [231]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
df_pop_mobile = df_pop.groupby('Community_District', as_index=False)['Households: With Mobile Broadband'].sum()

In [238]:
# Aggregate internet type by high and low connections
grouped = df_pop.groupby('Community_District', as_index=False)

In [239]:
# Save data frame 
df_pop_sums = grouped.aggregate(np.sum)

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [ ]:
# Harmonize identifier of dataframe 1

In [ ]:
# Harmonize identifier of dataframe 2

In [ ]:
# Harmonize identifier of dataframe 3

In [252]:
# Link the 3 dataframes
combined1 = pd.merge(comp_CB, df_pop_sums, on='Community_District', how='left')
combined1.head()

combined2 = pd.merge(combined1, pop, on='Community_District', how='left')
combined2.head()

,Community_District,complaint_count,FIPS,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: No Computer,Borough,CD Number,CD Name,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,Community_Board
0,01 BRONX,74631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01 BROOKLYN,185057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01 MANHATTAN,77974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01 QUEENS,171484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01 STATEN ISLAND,182713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merges are most likely not working because the values either aren't an exact match or the columns are not the exact same type.  Don't have any more time to troubleshoot

In [ ]:
# Are the demographics and infrastructure different in Community Districts that show more complaints than others?